@use '../constants/break-points.scss' as break-points;

// Forward rules must come first
@forward '../functions/mixins'; // Forward the mixins
// @forward './state'; // Forward the sp mixin

$sp-breakpoint: break-points.$sp;

@mixin sp() {
  @media (max-width: #{$sp-breakpoint}) {
    @content;
  }
}

.pc-only{
  display: block;

  @media (max-width: #{$sp-breakpoint}){
    display: none;
  }
}

.sp-only{
  display: none;

  @media (max-width: #{$sp-breakpoint}){
    display: block;
  }
}

// You can add other state-related styles or variables here as needed