@use '../constants/color.scss' as colors;
@use '../constants/font.scss' as fonts;
@use '../functions/mixins' as mixins;

body {
  background-color: colors.$darkBlack;
  color: colors.$white;
  font-size: 16px;
  font-family: fonts.$helvetica;
  font-feature-settings: "palt";
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
  }
}

* {
  cursor: none !important;
}

*::selection {
  background: colors.$darkBlack;
  color: colors.$white;
}

.l-container {
  width: 100%;
  padding: 0 40px;

  @include mixins.sp() {
    padding: 0 vw_sp(20);
  }
}

canvas{
  display: block;
  margin: 0 auto;
}

a {
  color: colors.$blue;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Add more global styles here */
